<header class="header home-header text-center">
  <div class="container">
    <h1 class="text-center"><a href="index.html">Job Finder</a></h1>
    <h2 class="text-center">Slogan goes here!</h2>
    <a href="#" class="btn btn-default">Post a job!</a>
  </div>
</header>

<section class="filters home-filters">
  <div class="container">
    <div class="col-sm-3 filter-label">
      <h4>Estou procurando:</h4>
    </div>
    <div class="col-sm-9 filter-list">
      <ul>
        <li class="col-sm-3 item"><input type="checkbox" name="job" id="job"> <label for="job">Emprego</label></li>
        <li class="col-sm-3 item"><input type="checkbox" name="job" id="job"> <label for="job">Estágio</label></li>
        <li class="col-sm-3 item"><input type="checkbox" name="job" id="job"> <label for="job">Freela</label></li>
      </ul>
    </div>
  </div>
</section>

<section class="latest-jobs">
  <div class="container">
    <div class="col-sm-12 jobs-label">
      <h3>Latest Jobs</h3>
    </div>

<!--     <pre>
       {{ vm.jobs | json }}
    </pre> -->

    <div class="jobs-list">
     <ul>
        <li class="col-xs-12 item" ng-repeat="job in vm.jobs track by job._id">

          <div class="col-sm-1 hidden-xs logo">
            <img src="http://placehold.it/100" alt="{{job.name}}" ng-if="job.company.companyLogo">
            <p ng-if="!job.company.companyLogo">T</p>
          </div>

          <div class="col-sm-4 col-xs-7 info">
            <h4>{{job.name}}</h4>
            {{job.company.name || 'Company Name'}}
          </div>

          <div class="col-sm-4 hidden-xs tags">
            <ul class="default-list tag-list">
              <li class="tag" ng-repeat="tag in job.tags">
                <a href="#">{{tag}}</a>
              </li>
            </ul>
          </div>

          <div class="col-sm-2 col-xs-3 place">
            <h4>Emprego</h4>
            <span class="glyphicon glyphicon-globe"></span> {{job.location}}
          </div>

          <div class="col-sm-1 col-xs-2 date text-center">
            NOV <br>
            3
          </div>
       </li>
      </ul>
    </div>

    <div class="clearfix"></div>

    <a href="#" class="btn btn-primary" ng-click="vm.loadMore($event)" ng-disabled="!vm.amount || vm.amount <= vm.jobs.length">Load more</a>

  </div>
</section>
