<header class="header home-header text-center">
  <div class="container">
    <h1 class="text-center">
      <a ui-sref="home">Job Finder</a>
    </h1>
    <h2 class="text-center">Slogan goes here!</h2>
    <a ui-sref="post-job" class="btn btn-default">Post a job!</a>
  </div>
</header>

<section class="filters home-filters hidden-xs ">
  <div class="container">
    <div class="col-sm-3 filter-label">
      <h4>Estou procurando:</h4>
    </div>
    <div class="col-sm-9 filter-list">
      <ul>
        <li class="col-sm-3 item">
          <input type="checkbox" name="fullTime" id="fullTime" ng-click="vm.changeFilter('Full Time')"> <label for="fullTime">Full Time</label>
        </li>
        <li class="col-sm-3 item">
          <input type="checkbox" name="estagio" id="estagio" ng-click="vm.changeFilter('Estágio')"> <label for="estagio">Estágio</label>
        </li>
        <li class="col-sm-3 item">
          <input type="checkbox" name="freela" id="freela" ng-click="vm.changeFilter('Freela')"> <label for="freela">Freela</label>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="tag-filters hidden-xs" ng-if="vm.tags.length">
  <div class="container">
    <div class="col-sm-12 active-filters">
      <ul class="default-list tag-list">
        <li class="tag" ng-repeat="tag in vm.tags">
          <a ng-click="vm.changeTag(tag)" prevent-click>{{tag}} | x</a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="latest-jobs">
  <div class="container">
    <div class="col-sm-12 jobs-label">
      <h3>Latest Jobs</h3>
    </div>

    <div class="jobs-list">
     <ul>
        <li
        class="col-xs-12 item"
        ng-repeat="job in vm.jobs track by job._id"
        ng-click="vm.viewJobDetail(job._id)">

          <div class="col-sm-1 hidden-xs company-logo">
            <img ng-src="{{job._company.companyLogo}}" alt="{{job.name}}" ng-if="job._company.companyLogo">
            <p ng-if="!job._company.companyLogo">O</p>
          </div>

          <div class="col-sm-4 col-xs-7 info">
            <h4>{{job.name}}</h4>
            <a ui-sref="company-detail({ id: job._company._id })">{{job._company.name}}</a>
          </div>

          <div class="col-sm-4 hidden-xs tags">
            <ul class="default-list tag-list">
              <li class="tag" ng-repeat="tag in job.tags">
                <a ng-click="vm.changeTag(tag)" prevent-click>{{tag}}</a>
              </li>
            </ul>
          </div>

          <div class="col-sm-2 col-xs-3 place">
            <h4>{{job.type | uppercase }}</h4>
            <span class="glyphicon glyphicon-globe"></span> {{job.location}}
          </div>

          <div class="col-sm-1 col-xs-2 date text-center">
            {{ job.createdAt | date : 'MMM' | uppercase }}<br>
            {{ job.createdAt | date :  'd' }}
          </div>
       </li>
      </ul>
    </div>

    <div class="clearfix"></div>

    <a href="#" class="btn btn-primary" ng-click="vm.loadMore($event)" ng-disabled="!vm.total || vm.total <= vm.jobs.length">Load more</a>

  </div>
</section>
