<div class="container">
  <header>
    <div class="col-md-12">
      <h1>Post a new Job</h1>
    </div>
  </header>

  <div class="col-md-6">
    <form>
      <div class="form-group has-error">
        <label for="jobTitle">Job Title</label>
        <input type="text" class="form-control" id="jobTitle">

        <div class="alert alert-error help-block">Lorem ipsum dolor sit amet.</div>
      </div>

      <div class="form-group">
        <label for="jobLocation">Location</label>
        <input type="text" class="form-control" id="jobLocation">
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" value="on" class="checkbox">
          <strong>Remote ok?</strong>
        </label>
      </div>

      <div class="form-group">
        <label for="jobDescription">Job description</label>
        <textarea class="form-control" id="jobDescription" cols="30" rows="10"></textarea>
      </div>

      <div class="form-group">
        <label for="jobApplication">Instructions</label>
        <p>How should the candidate apply for the job?</p>
        <input type="text" class="form-control" id="jobApplication">
      </div>
      <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
  </div>

</div>
